@page "/login"

<PageTitle>Login</PageTitle>

<h1>Bem-vindo a este barraco!</h1>

<img src=https://www.cloudmotion.com.br/blog/2016/02/15/voc-desenvolvedor-ento-tem-azure-de-graa-para-voc/wp-1455333683504.jpeg
     alt="azure" style="width: 100%; height: auto;" >